<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Peyton Manning</string>
		<key>team</key>
		<string>DEN</string>
		<key>position</key>
		<string>QB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eli Manning</string>
		<key>team</key>
		<string>NYG</string>
		<key>position</key>
		<string>QB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Philip Rivers</string>
		<key>team</key>
		<string>SD</string>
		<key>position</key>
		<string>QB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Darren McFaden</string>
		<key>team</key>
		<string>OAK</string>
		<key>position</key>
		<string>RB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Troy Polamalu</string>
		<key>team</key>
		<string>PIT</string>
		<key>position</key>
		<string>S</string>
	</dict>
</array>
</plist>
